.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b5998;
    height: 100px;
    padding: 16px;
}


.search-form {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.search-button i {
    font-size: 16px;
}


.search-input {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

.search-input::placeholder {
    color: #aaa;
}

.search-input:focus {
    outline: none;
}


@media (max-width: 768px) {
    .search-input {
        width: auto;
        flex-grow: 1;
    }
}