.image-card {
    display: flex;
    width: 30%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.image-card img {
    display: flex;
    width: 100%;
    height: auto;
    display: block;
}